.discussion-main {
  display: flex;
}
.discussion-section {
  flex: 2;
  position: relative;
  text-align: center;
  right: 150px;
  top: 10px;
  margin: 10px;
  padding: 20px;
}
.sidecards-section {
  flex: 0.5;
  margin: 10px;
  padding: 20px;
}
