.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(63, 63, 63);
}

.message_info {
  margin-left: 20px;
}
.message_timestamp {
  color: grey;
  margin-left: 20px;
  font-size: x-small;
}
.message_info > h4 {
  font-size: 15px;
}
