.cols {
  width: 80%;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #eee;
  border-radius: 25px;
  height: 70%;
}

.commentSection {
  align-items: center;
  width: fit-content;
  margin-top: 10px;
  width: auto;
  margin-left: 8%;
  padding-right: 40px;
  border-radius: 25px;
}
/* .products > h1 {
} */
