/* .app {
  display: flex;
} */

.adver_side_chat {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  box-sizing: border-box;
}

.sidebar{
  display:flex;
  max-height:90vh;
  margin-left: 2%;
}

.chat{
  display:flex;
  max-height:90vh;
}
